stages:
    - prepare

node_sqy8yh_provision:
  stage: prepare
  script:
    - maas login localhost http://localhost:5240/MAAS/ ${MAAS_TOKEN} && /usr/local/bin/ng_maas.sh sqy8yh
  environment:
    name: baremetal

node_fhqedd_provision:
  stage: prepare
  script:
    - maas login localhost http://localhost:5240/MAAS/ ${MAAS_TOKEN} && /usr/local/bin/ng_maas.sh fhqedd
  environment:
    name: baremetal

node_6fw4nx_provision:
  stage: prepare
  script:
    - maas login localhost http://localhost:5240/MAAS/ ${MAAS_TOKEN} && /usr/local/bin/ng_maas.sh 6fw4nx
  environment:
    name: baremetal

node_7trye3_provision:
  stage: prepare
  script:
    - maas login localhost http://localhost:5240/MAAS/ ${MAAS_TOKEN} && /usr/local/bin/ng_maas.sh 7trye3
  environment:
    name: baremetal
