before_script:
  - sudo -i sh -c 'minikube status | grep -i running minikube delete && minikube delete || :'
  - sudo -i sh -c 'docker inspect --type=image k8spray/ansible:2.3.0.0 && echo ok || :'

bootstrap:
  script:
    - bin/bootstrap.sh
