before_script:
  - sudo -i sh -c 'minikube status | grep -i running  && minikube delete || :'
  - sudo -i sh -c 'docker inspect --type=image k8spray/ansible:2.3.0.0 && echo ok || :'

stages:
  - prepare
  - start_aws_pipeline

minikube:
  stage: prepare
  script:
    - sudo -i `pwd`/bin/bootstrap.sh

start_aws_pipeline:
  stage: start_aws_pipeline
  script:
    - export TEST1=1
    - TEST=2
    - echo TEST1=$TEST1
    - echo TEST2=$TEST2
