stages:
    - cleanup
    - prepare

cleanup:
  - sudo -i sh -c 'minikube status | grep -i running  && minikube delete || :'
  - sudo -i sh -c 'docker inspect --type=image k8spray/ansible:2.3.0.0 && echo ok || :'

minikube:
  stage: prepare
  script:
    - sudo -i `pwd`/bin/bootstrap.sh

#node_sqy8yh_provision:
#  stage: prepare
#  script:
#    - maas login localhost http://localhost:5240/MAAS/ ${MAAS_TOKEN} && /usr/local/bin/maas_redeploy.sh sqy8yh

#node_fhqedd_provision:
#  stage: prepare
#  script:
#    - maas login localhost http://localhost:5240/MAAS/ ${MAAS_TOKEN} && /usr/local/bin/maas_redeploy.sh fhqedd

#node_6fw4nx_provision:
#  stage: prepare
#  script:
#    - maas login localhost http://localhost:5240/MAAS/ ${MAAS_TOKEN} && /usr/local/bin/maas_redeploy.sh 6fw4nx
