- name: add k8spray chart repo
  command: "helm repo add k8spray {{ k8spray_helm_repo_url }}"

- name: install lcm chart
  command: "helm install --timeout 900 --wait --namespace k8spray -n k8spray k8spray/lcm "
  register: helm_chart
  ignore_errors: "{{ helm_ignore_errors | default(False) }}"
